@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.navbar{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 116px;
}

.navbar h3 {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-list {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  list-style: none;
  cursor: pointer;
  display: flex;
  gap: 50px;
}

.nav-list li a{
  text-decoration: none;
  color: #424242;
}


.banner {
  background: rgba(255, 144, 14, 0.10);
}

.banner-content {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

.banner-description {
  color: #727272;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 868px;
}

.btn-primary {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
}